extends ../layouts/page.pug

block title
  title Список курсов

block header 
  div.collapse.navbar-collapse.show
    ul
      li.nav-item
        h1= header
      li.nav-item
        h3 
          a(href= routes.mainPagePath()) На главную
      li.nav-item
        form(role = 'form' method = 'GET' action = '/сourses')
          input(type = 'search', name = 'term', value = term)
          input(type = 'submit' value = 'search')

block content
  if messages
    for message in messages
      .alert(class=`alert-${message.type}`)= message.message
  h3  
    a(href= routes.newCoursePath()) Добавить новый курс
  if courses.length === 0
    p Пока не добавлено ни одного курса
  else
    each course in courses
      div
        #{course.title}
          h2
            a(href= routes.coursePath(course.id))= course.title
          p= course.description
  h3 
    a(href= routes.mainPagePath()) Назад