extends ../layouts/page.pug

block title
  title Список курсов

block header 
  h1= header
  h3 
    a(href='/') На главную
  form(role = 'form' method = 'GET' action = '/courses')
    input(type = 'search', name = 'term', value = term)
    input(type = 'submit' value = 'search')

block content
  if courses.length === 0
    p Пока не добавлено ни одного курса
  else
    each course in courses
      div
        #{course.title}
          h2
            a(href=`/courses/${course.id}`)= course.title
          p= course.description
  h3 
    a(href='/') Назад