extends ../layouts/page.pug

block title
  title Добавить новый курс

block header
  div.collapse.navbar-collapse.show
    ul
      li.nav-item
        h1= header
      li.nav-item
        h3 
          a(href= routes.mainPagePath()) На главную

block content
  if error
      p= error.message

  if messages
    for message in messages
      .alert(class=`alert-${message.type}`)= message.message

  form(action = routes.coursesPath(), method = 'post')
    div
      label ID:
        input(type = 'text', name = 'id', value = id || '', required = true)
    div
      label Title:
        input(type = 'text', name = 'title', value = title || '' required = true)
    div
      label Description:
        input(type = 'text', name = 'description', value = description || '', required = true)
   
    input(type = 'submit', value = 'Добавить')
  h3 
    a(href= routes.coursesPath()) Назад