extends ../layouts/page.pug

block title
  title= course.title

block header 
  iv.collapse.navbar-collapse.show
    ul
      li.nav-item
        h1= course.title
      li.nav-item
        h3 
          a(href= routes.mainPagePath()) На главную

block content
  p= course.description
  h3 
    a(href= routes.coursesPath()) Назад