extends ../layouts/page.pug

block title
  title= course.title

block header 
  h1= course.title
  h3 
    a(href='/') На главную

block content
  p= course.description
  h3 
    a(href='/courses') Назад