extends layouts/page.pug

block title 
    title Главная страница

block header
    h1 Добро пожаловать на главную страницу

block content
    if !templateData.visited
        | Это сообщение показывается только один раз. Если вы хотите увидеть его снова, сотрите куки

    h2 
        a(href= routes.coursesPath()) Курсы
    h2 
        a(href= routes.usersPath()) Пользователи

block footer
    h3 
        a(href='https://github.com/Mark-Gruzdov') Github