extends layouts/page.pug

block title
  title Аутентификация

block header
  div.collapse.navbar-collapse.show
    ul
      li.nav-item
        h1= header
      li.nav-item
        h3 
          a(href= routes.mainPagePath()) На главную

block content
  if error
      p= error.message
  if messages
    for message in messages
      .alert(class=`alert-${message.type}`)= message.message


  form(action = '/session', method = 'post')
    div
      label Логин:
        input(type = 'email', name = 'email', value = email || '', required = true)
    div
      label Пароль:
        input(type = 'password', name = 'password', value = pasword || '', required = true)
    input(type = 'submit', value = 'Аутентификация!')