html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    block title
  body
    block header
    p
      a(href='/users')
      a(href='/courses')
    block content
    block footer