extends ../layouts/page.pug

block title
  title Список пользователей

block header
  div.collapse.navbar-collapse.show
    ul
      li.nav-item
        h1= header
      li.nav-item
        h3 
          a(href= routes.mainPagePath()) На главную
      li.nav-item
        form(role = 'form' method = 'GET' action = routes.usersPath())
          input(type = 'search', name = 'term', value = term)
          input(type = 'submit' value = 'search')

block content
  h3  
    a(href= routes.newUserPath()) Создать нового пользователя
  if users.length === 0
    p Пользователи не найдены
  else
    table.table.table-striped
      tr
        th Идентификатор пользователя
        th Имя пользователя
        th Емейл пользователя

      each user, index in users
        tr
          td
            a(href= routes.userPath(user.id)) #{user.id}
          td= user.username
          td= user.email
  h3 
    a(href= routes.mainPagePath()) Назад